#menu {
    background-image: linear-gradient(var(--menu-color) 70%, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: sticky;
    top: 0;
    margin-top: -10px;
    border-radius: 0 0 10px 10px;
}

#menu-links {
    display: flex;
    padding-left: 1em;
    align-items: flex-end;
}

#menu-links a {
    padding: 1em;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    border-radius: 10px;
    margin: 5px;
}

#menu-links a:hover {
    background-image: radial-gradient(white, transparent 75%);
}