#picture {
    box-sizing: border-box;
    color: rgb(40, 40, 201);
    border: solid rgb(40, 40, 201);
    border-radius: 50%;
    padding: 5px;
    /* width:
    height: */
}

img::hover {
    /* box-shadow:  */
}

.button {
    background-color: rgb(40, 40, 201);
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}