#post-container {
    margin: 15px;
    background-color: white;
    box-shadow: 0 5px 10px rgb(20, 20, 20);
    border-radius: 10px;
    display: flex;
    font-family: 'Alata', sans-serif;
    letter-spacing: .15rem;
    text-align: left;
    width: 75%;
    flex-grow: 1;
}

#post-header {
    padding: .5rem 0;
    margin: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#name {
    text-shadow: 1px 1px 1px gray;
    margin: auto;
    color: var(--primary-blue);
    letter-spacing: .25rem;
}

#username {
    text-shadow: 1px 1px 1px gray;
    color: var(--primary-green);
    letter-spacing: .5rem;
}

#post-content {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    font-size: smaller;
    flex-grow: 1;
}

#post-profile-photo {
    max-height: 4rem;
    margin: auto 1rem;
    border-radius: 50%;
    flex-shrink: 1;
}

#post-footer {
    font-size: x-small;
    color: gray;
}

hr {
    width: 90%;
    background-image: linear-gradient(transparent, var(--primary-green), transparent);
    height: 1px;
    border: none;
}