:root {
    margin: 0;
    padding: 0;
    --primary-color: #282c34;
    --background-color: rgb(85, 170, 200);
    --primary-blue: rgb(0, 150, 136);
    --primary-green: rgb(139, 195, 74);
    --menu-color: rgb(100, 100, 100);
    font-family: 'Alata', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}